@tailwind base;
@tailwind components;
@tailwind utilities;


@layer container {
    .customContainer {
        @apply w-[85%] lg:w-[90%] mx-auto;
    }

    .wrapper {
        @apply w-[85%] md:w-[90%] sm:w-[90%] lg:w-[90%] mx-auto h-full ;
    }
}


.pagination-container {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    align-items: center;
}

.page a {
    @apply px-[18px] border py-[8px] rounded-md
}

.active a {
    @apply bg-blue-500 text-white border-blue-500
}


.arrow {
    @apply flex items-center justify-center
}

.arrow a {
    @apply px-4 border py-[12px] rounded-md
}
.arrow-disabled a {
    @apply bg-gray-100
}

.custom-dot-list-style-bannerSection button {
    position: relative;
}

.custom-dot-list-style-bannerSection:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    bottom: 0;
    filter: blur(36px);
}

.custom-dot-list-style-bannerSection button {
    @apply border-[2px]  border-white bg-white ml-[2px] mb-[20px] bg-transparent;

}

.custom-dot-list-style-bannerSection button.active {
    @apply bg-white border-[2px]  border-white;

}

.custom-dot-list-style-bannerSection button:focus {
    outline: none;
}

.react-multi-carousel-dot--active button {
    @apply bg-white border-[2px]  border-white ;
}

/* If Swiper bullet style Change  */
.swiperBullet {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin: 0 8px;
}


